<!DOCTYPE HTML>
<html>
	<head>
		<title>Club Newsletter Submission</title>
	</head>
	<body>
		<div class="span-24">
			<h1><%= @newsletter.name %> Announcement Request</h1>
			<%= form_for :announcement, @announcement, :url => { :action => "add" } do |f| %>
			 <%= render :partial => "announcement-edit", :locals => {:f => f, :buttonText => "Next"} %>
			<% end %>
			
		</div>
	</body>
</html>
