<!DOCTYPE HTML>
<html>
  <head>
    <title>Club Newsletter Submission</title>
  </head>
  <body>
    <div class="span-24">
      <h1><%= @newsletter.name %> Announcement Request</h1>
      <h2><%= @announcement.title %></h2>
			<%= link_to "Back", :action => "add" %>
    </div>
  </body>
</html>
