<!DOCTYPE HTML>
<html>
  <head>
    <title>Club Newsletter Submission</title>
  </head>
  <body>
    <div class="span-24">
      <h1><%= @newsletter.name %> Announcement Request</h1>
      <h2>Thanks! Your announcement will be included in the newsletter.</h2>
    </div>
  </body>
</html>
