<!DOCTYPE HTML>
<html>
  <head>
    <title>Club Newsletter Submission</title>
  </head>
  <body>
    <div class="span-24">
      <h1><%= @newsletter.name %> Announcement Request</h1>
			<hr />
      <p>Thanks! Your announcement will be included in the newsletter.</p>
			<%= link_to "Add another announcement", :action => "add" %>
    </div>
  </body>
</html>
