<html>
	<body>
		This is your weekly reminder to send out the <%= @newsletter.name %>.<br />
		Go to <%= newsletter_url(:newsletterName => @newsletter.name) %>
		<br /><br />
		Thanks!
  </body>
</html>
