<!DOCTYPE HTML>
<html>
	<head>
		<title>Auto Newsletter Admin</title>
	</head>
	<body>
		<h2>Newsletters</h2>
		<ul>
			<% @newsletters.each do |newsletter| %>
			  <li><%= link_to newsletter.name, newsletter_url(:newsletterName => newsletter.name) %></li>
			<% end %>	
		</ul>
	</body>
</html>
