<!DOCTYPE HTML>
<html>
	<head>
		<title>Auto Newsletter Admin</title>
	</head>
	<body>
		<% @newsletters.each do |newsletter| %>
		  <%= link_to newsletter.name, newsletter_url(:newsletterName => newsletter.name) %>
		<% end %>
	</body>
</html>
