<!DOCTYPE HTML>
<html>
	<head>
		<title>Newsletter Admin</title>
	</head>
	<body>
		<h1>Administer <%= @newsletter.name %></h1>
		<hr />
		<div class="span-24">
			<p>Below are all the announcements that will appear in this weeks newsletter. Use the controls to 
			edit the content or remove the announcement.</p>
			
			<% @announcements.each do |announcement| %>
			 <%= render :partial => "announcement/announcement-basic", :locals => {:announcement => announcement, :controls => true} %>
			<% end %>
			
			<div class="span-24">
        <div class="push-6 span-3 last">
        	<%= button_to "Preview", {:action => "preview"}, :method => "get" %>
        </div>
      </div>
		</div>
	</body>
</html>
